<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="/header.css">

<header id="header">
    <div class="container">
        <img src="/images/Checkpoint.png"  style="float: left"> </a>
    </div>
    <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/game">Home</a></li>
        <%if (data){%>
            <li><a href="/user/me">Perfil</a></li>
            <li><a href="/user/misAmigos">Mis Amigos</a></li>
            <li><a href="/user/misJuegos">Mis Juegos</a></li>
            <li><a href="/user/logout">Logout</a></li>
        <%} else{%>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/signup">Sign Up</a></li>
        <%}%>
        <%if(ad){ %>
            <li><a href="/admin">Administrador</a></li>
        <%}%>
        </ul>
    </nav>
</header>