<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Opciones de Administrador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="opciones.css">

</head>

<body class="w3-light-grey">
    <%var data = conectado; %>
        <%var ad = admin; %>
            <%var ad = admin; %>
                <%- include partials/header.ejs %>
                    <div class="wrapper">
                        <div style="margin-top: 100px;" class="wrapper">
                            <div class="page-header page-header-small">
                                <div class="page-header-image" data-parallax="true">
                                </div>
                                <div class="content-center" style="background-image: url('/images/videowall.jpg');">
                                    <div class="container">
                                        <h1 class="title">Opciones de Administrador </h1>
                                        <div class="text-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="/admin/deleteUser">
                                    <div class="w3-card-4 w3-hover-opacity w3-hover-blue">
                                        <div class="w3-container">
                                            <h4>Borrar usuarios</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="/admin/deleteGame">
                                    <div class="w3-card-4 w3-hover-opacity w3-hover-blue">
                                        <div class="w3-container">
                                            <h4>Borrar juegos</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="/game/register">
                                    <div class="w3-card-4 w3-hover-opacity w3-hover-blue">
                                        <div class="w3-container">
                                            <h4>Registrar juegos</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    <%- include partials/footer.ejs %>
</body>

</html>