<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de juegos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/imagesStyle.css">
    <link rel="stylesheet" href="/deleteUser.css">
</head>

<body class="w3-container w3-light-grey">
    <%var data = conectado; %>
        <%var ad = admin; %>
            <%- include partials/header.ejs %>
                <div style="margin-top: 100px; " class="wrapper">
                    <div class="page-header page-header-small">
                        <div class="page-header-image" data-parallax="true">
                        </div>
                        <div class="content-center" style="background-image: url('/images/videowall.jpg');">
                            <div class="container">
                                <h1 class="title">Borrar Juegos</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-container w3-responsive">
                    <table class="w3-table w3-border w3-bordered w3-centered">
                        <% for (let i of games){ %>
                            <tr>
                                <td>
                                    <div class="profile-teaser-left">
                                        <div class="profile-img"><img src="<%= i.sprite %>" width="200px" height="200px;" /></div>
                                    </div>
                                    <div class="profile-teaser-main">
                                        <h2 class="profile-name">
                                            <a href="/game/<%= i.number %>/">
                                                <%= i.name %>
                                            </a>
                                        </h2>
                                        <div class="profile-info">
                                            <div class="info"><span class=""><form action="/admin/deleteGame/<%=i.number%>" method="POST">
											<input type="submit" value="Borrar"></span></div>
                                        </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
                </div>
                <br>
                <%- include partials/footer.ejs %>
</body>

</html>