<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error <%= error %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/error.css">
</head>
<body class="w3-light-grey">
        <%var data = conectado; %>
        <%var ad = admin; %>
        <%- include partials/header.ejs %>
        <div class="site-blocks-cover overlay" style="background-image: url(/images/error.jpg)"data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="login-wrap">
                          <h1>Error <%= error %></h1>
                          <h4><%= message %></h4>
                    </div>
        </div>
<%- include partials/footer.ejs %>
</body>
</html>