<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de juegos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/imagesStyle.css">
</head>

<body>
    <%var data = conectado; %>
        <%var ad = admin; %>
            <%- include partials/header.ejs %>

              
                <div class="content-center" style="background-image: url(/videowall.jpg)" data-aos="fade" data-stellar-background-ratio="0.5" >
                    <div class="container">
                        <div class="row align-items-center justify-content-center text-center">
                            <div class="col-md-12">
                                <div class="row justify-content-center mb-4">
                                    <div class="col-md-8 text-center">
                                        <h1 style="color:#FFFF00;" data-aos="fade-up">Join our Cult</h1>
                                        <p data-aos="fade-up" data-aos-delay="100" style="color:#FFFF00;">Arcade.Friends.Competition.</p>
                                    </div>
                                </div>
                                <form action="/game" method="GET">

                                    <div class="form-search-wrap" data-aos="fade-up" data-aos-delay="200">
                                        <div class="row align-items-center">
                                            <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                                                <div class="select-wrap">
                                                    <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>

                                                    <select class="form-control rounded" name="condition" id="">
                      <option value="1">Calificación de Usuarios</option>
                      <option value="2">Fecha de Lanzamiento</option>
                      <option value="3">Metacritic</option>
                      <option value="4">Alfabeticamente</option>
                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-xl-2 ml-auto text-right">
                                                <input type="submit" class="btn btn-primary btn-block rounded" value="Buscar">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container container mt-4 mb-5">
                    <h3 class="display-4 text-center"> Juegos </h3>
                    <hr class="bg-darks mb-4 w-25">
                    <table class="w3-card-4 w3-centered">
                        <% for (let i of game){ %>
                            <tr>
                                <% for (let j of i){ %>
                                    <td>
                                      <a href="/game/publishers?publisher=<%= j.publisher %>">
                                          <div class="w3-container">
                                                  <h4><b><%= j.publisher %></b></h4>
                                          </div>
                                      </a>

                                        <div class="col-md-3">
                                            <div class="card" style="width: 300px">
                                                <img class="card-img-top" src="<%= j.sprite %>" alt="Card image cap" style="width: 300 px; height: 300px">
                                                <a href="/game/<%= j.number %>">
                                                  <div class="card-block p-3">
                                                      <h4 class="card-title">
                                                          <%= j.name %>
                                                      </h4>
                                                      <h4 class="card-title">
                                                          <%= j.publisher %>
                                                      </h4>
                                                      <h5 class="card-title">
                                                          <%= j.releaseDate%>
                                                      </h5>
                                                      <h5 class="card-title">Metacritic:
                                                          <%= j.metacritic%>
                                                      </h5>
                                                  </div>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <% } %>
                            </tr>
                            <% } %>
                    </table>
                </div>
                <div class="w3-bar w3-border w3-round">
                    <% if (atras){%>
                        <a href="/game?pageNumber=<%= pageNumber-1 %>&pageSize=<%= pageSize %>&condition=<%= sortConditionNumber %>" class="w3-button">&#10094; Anterior</a>
                        <% }%>
                            <a href="/game?pageNumber=<%= pageNumber+1 %>&pageSize=<%= pageSize %>&condition=<%= sortConditionNumber %>" class="w3-button w3-right">Siguiente &#10095;</a>
                </div>
                <br>
                <br>
                <br>
                <%- include partials/footer.ejs %>
</body>

</html>