<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= game.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/commentPost.css">
    <link rel="stylesheet" href="/commentFormat.css">
    <link rel="stylesheet" href="videogame.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">    
</head>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<body class="w3-light-grey">
        <%var data = conectado; %>
        <%var ad = admin; %>
        <%- include partials/header.ejs %>
        <br>        <br>
        <br>        <br>
        <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="row panel">
                <div class="col-md-8  col-xs-12">
                    <img src="<%= game.sprite %>" class="img-thumbnail picture hidden-xs" />
                   <img src="<%= game.sprite %>" class="img-thumbnail visible-xs picture_mob" />
                   <div class="header">
                        <h1><%= ` ${ game.name }` %></h1>
                        <h5><b>Fecha de Lanzamiento: </b> <%= game.releaseDate %></h5>
                        <h5><b>Metacritic: </b><%= game.metacritic %></h5>
                        <%var fixed = game.userGrade.toFixed(1); %>
                        <h5><b>Calificación de usuarios: </b><%= fixed %></h5>
                        <h5><b>Distribuidor: </b> <a href="/game/publishers?publisher=<%= game.publisher %>"><%= game.publisher %></a></h5>
                        <span><b>Platformas: </b> <%= game.platforms %></span>
                        <div>
                            <b>Géneros: </b>

                            <ul><span class="glyphicon comment_tools"></span>
                            <%for(let g of game.genres){ %>
                                <li>                               
                                   <a href="/game/genre/<%= g %>"><%= g %></a>
                                </li>
                            <%}%>
                        </ul>
                        </div>
                        
                        <span><p><b>Descripción: </b><%= game.description %></p></span>
                   </div>
                </div>
            </div>   
    <%if(reviewAble){%>
        <h2>Escribe tu Reseña: </h2>
        <form action="/game/addReview/<%=game.number%>" method="POST">
            <div class="comment_block">
                <div class="create_new_comment">
                    <!-- the input field -->
                    <div class="input_comment">
                        <textarea id="w3-input" rows=10 name="description" cols=100 wrap=on placeholder="Comparte tu opinion"></textarea>
                    </div>
                    <div>
                        Elije una calificacion:<br>
                        <br>
                        <select id="choice" name="grade">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <br>
                        <br>                    
                    </div> 
                    <div>
                        Status<br>
                        <br>
                        <select id="choice" name="status">
                            <option value="Jugando">Jugando</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Terminado">Terminado</option>
                        </select>
                        <br>
                        <br>                    
                    </div>

                    <div>
                        <label>Plataformas :</label>
                            <%for(const k of platforms){%>
                                <input type="Radio" name="platform" value="<%=k%>" checked> <%=k%> 
                            <%}%>
                        <br>
                    </div>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    <%}%>
    <h2>Reseñas</h2>
    <div class="comment_block">
        <%for(let r of reviews){%>
            <div class="new_comment">
                <ul class="user_comment">
                    <div class="comment_body">
                        <textarea id="outputText" rows=7 cols=90 wrap=on readonly><%=r.description%></textarea>
                    </div>
                    <div class="comment_toolbar">
                        <div class="comment_details">
                            <ul>
                                <li><i class="fa fa-calendar"></i> <%=r.fecha%></li>
                                <li><i class="fa fa-pencil"></i> <span class="user"><a href="/user/<%= r.userName %>"><%= r.userName %></a></li>
                                <li><i class="fa fa-heart love"></i> <span>Calificación: <%=r.grade%></span></li>
                                <li>  <span><b>Plataforma: </b><%=r.platform%></span></li>
                                <li>  <span><b>Status:  </b>  <%=r.status%></span></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
            <br>
        <%}%>
    </div>

    <br>
                <%- include partials/footer.ejs %>
        
</body>
</html>