<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= nombreGenre %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/imagesStyle.css">
</head>
<body class="w3-container w3-light-grey">
    <%var data = conectado; %>
    <%var ad = admin; %>
    <%- include partials/header.ejs %>
    <h1 class="w3-blue w3-jumbo w3-padding-small"><%= nombreGenre %></h1>
    <div class="w3-container w3-responsive">
        <table class="w3-table w3-border w3-bordered w3-centered">
            <% for (let i of game){ %>
            <tr>
                <% for (let j of i){ %>
                <td>
                    <a href="/game/<%= j.number %>">
                        <div class="w3-card-4 w3-hover-opacity w3-hover-blue">
                            <div class="holder">
                                <img src="<%= j.sprite %>" />
                            </div>
                            <div class="w3-container">
                                <h4><b><%= j.name %></b></h4>
                                <h5><b><%= j.releaseDate%></b></h5>
                            </div>
                        </div>
                    </a>
                </td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>
    <div class="w3-bar w3-border w3-round">
        <%if(atras){%>
            <a href="/game/genre/<%= nombreGenre %>?pageNumber=<%= pageNumber-1 %>&pageSize=<%= pageSize %>&columns=<%= columns %>" class="w3-button">&#10094; Anterior</a>
        <%}%>
        <a href="/game/genre/<%= nombreGenre %>?pageNumber=<%= pageNumber+1 %>&pageSize=<%= pageSize %>&columns=<%= columns %>" class="w3-button w3-right">Siguiente &#10095;</a>
    </div>
</body>
</html>