<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Opciones de Administrador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container w3-light-grey">
    <%var ad = admin; %>
    <%var ad = admin; %>
    <%- include header.ejs %>
    <br/>
    <ul class="w3-ul w3-card-4 w3-hoverable">
        <li class="w3-bar w3-blue">
            <h1 class="w3-jumbo">Inicio</h1>
        </li>
        <li class="w3-bar">
            <a href="/game">
                <img src="/pikachu.png" class="w3-bar-item w3-circle w3-hide-small" style="width:150px">
                <div class="w3-bar-item">
                    <span class="w3-xxxlarge">Juegos</span><br/>
                    <span class="w3-large">Listado de todos los juegos</span>
                </div>
            </a>
        </li>
        <li class="w3-bar">
            <a href="/trainer">
                <img src="/trainer.png" class="w3-bar-item w3-circle w3-hide-small" style="width:150px">
                <div class="w3-bar-item">
                    <span class="w3-xxxlarge">Mis juegos</span><br/>
                    <span class="w3-large">Listado de juegos que he jugado</span>
                </div>
            </a>
        </li>
    </ul>
</body>
</html>