<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/imagesStyle.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <%var data = conectado; %>
    <%var ad = admin; %>
    <%var rechazado = failLogin; %>
    <%- include partials/header.ejs %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include partials/login_rechazado.ejs %>
    <form action="/user/login" method="POST">
      <div class="login-wrap">
        <div class="login-html">
            <label for="tab-1" class="tab">Log In</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Username or Email</label>
                         <input type="text" name="name" />
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                       <input type="password" name="password" />
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Login">
                    </div>
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </div>
</form>
    <%- include partials/footer.ejs %>
</body>
</html>