<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de amigos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/imagesStyle.css">
    <link rel="stylesheet" href="/misamigos.css">
</head>

<body class="w3-container w3-light-grey">
    <%var data = conectado; %>
        <%var ad = admin; %>
            <%- include partials/header.ejs %>
                <div style="margin-top: 10px; " class="wrapper">
                    <div class="page-header page-header-small">
                        <div class="content-center" style="background-image: url('/images/videowall.jpg');">
                            <div class="container">
                                <h1 class="title">Mis Amigos</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-container w3-responsive">
                    <table class="w3-table w3-border w3-bordered w3-centered">
                        <% for (let i of users){ %>
                            <tr>
                                <td>
                                    <div class="profile-teaser-left">
                                        <div class="profile-img"><img src="/images/mario.jpg" width="200px" height="200px;" /></div>
                                    </div>
                                    <div class="profile-teaser-main">
                                        <h2 class="profile-name">
                                            <a href="/user/<%= i.name %>/">
                                                <%= i.name %>
                                        </h2>
                                        <div class="profile-info">
                                            <div class="info"><span class="">Plataformas:</span>
                                                <%=i.platforms%>
                                            </div>
                                            <form action="/user/noSeguir/<%=i.name%>" method="POST">
                                                <input type="submit" value="Dejar de seguir">
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
                </div>
                <br>
                <%- include partials/footer.ejs %>
</body>

</html>