<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de juegos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/imagesStyle.css">
    <link rel="stylesheet" href="/misjuegos.css">

</head>

<body class="w3-container w3-light-grey">
    <%var data = conectado; %>
        <%var ad = admin; %>
            <%- include partials/header.ejs %>
                <div style="margin-top: 10px; margin-bottom: 120px;" class="wrapper">
                    <div class="page-header page-header-small">
                        <div class="content-center" style="background-image: url('/images/videowall.jpg');">
                            <div class="container">
                                <h1 class="title">Mis Juegos -
                                    <%=findConditionString%>
                                </h1>
                                <div class="text-center">
                                    <div>
                                        <form action="/user/misJuegos" method="GET" class="Choose">
                                            <select id="choice" name="condition">
									  <option value="Todos">Todos</option>
									  <option value="Pendiente">Pendientes</option>
									  <option value="Terminado">Terminados</option>
									  <option value="Jugando">Jugando</option>
									</select>
                                            <br>
                                            <br>
                                            <input type="submit" value="Buscar">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w3-container w3-responsive">
                        <table class="w3-table w3-border w3-bordered w3-centered">
                            <% for (let i of reviews){ %>
                                <tr>
                                    <td>
                                        <a href="/game/<%= i.gameNumber %>/">
                                            <%= i.gameName %>
                                        </a>
                                    </td>
                                    <td>
                                        <form action="/user/cambiarStatus/<%=i.gameNumber%>" method="POST">
                                            <select id="choice" name="status<%=i.gameNumber%>">
								<%if(i.status === "Jugando"){ %>
									<option selected value="Jugando">Jugando</option>
								<%} else{ %>
									<option value="Jugando">Jugando</option>
								<%}%>
								<%if(i.status === "Pendiente"){ %>
									<option selected value="Pendiente">Pendiente</option>
								<%} else{ %>
									<option value="Pendiente">Pendiente</option>
								<%}%>
								<%if(i.status === "Terminado"){ %>
									<option selected value="Terminado">Terminado</option>
								<%} else{ %>
									<option value="Terminado">Terminado</option>
								<%}%>
	                        </select>
                                            <input type="submit" value="Cambiar Status">
                                        </form>

                                    </td>
                                    <td>
                                        <p><b>Calificación</b>
                                            <%=i.grade%>
                                        </p>
                                    </td>
                                    <td>
                                        <p><b>Plataforma: </b>
                                            <%=i.platform%>
                                        </p>
                                    </td>
                                    <td>
                                        <form action="/user/borrarReview/<%=i.gameNumber%>" method="POST">
                                            <input type="submit" value="Borrar">
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </table>
                    </div>
</body>

</html>