<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro de nuevo usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/usuarionuevo.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body class="w3-light-grey">
    <%var data = conectado; %>
    <%var ad = admin; %>
    <%- include partials/header.ejs %>
    <br/>
    <div class="login-wrap">
    <div class="login-html">
        <label for="only-tab" class="tab">Join Our Cult</label>
        <div class="w3-card-4">

            <form class="w3-container" action="/user/signup/" method="POST">
                <p>
                    <label for="email" class="label">Email</label>
                    <input class="w3-input w3-border w3-round-large w3-light-grey" name="email" type="email" />
                </p>

                <p>
                    <label for="user" class="label">Name with Capital letter</label>
                    <input class="w3-input w3-border w3-round-large w3-light-grey" name="name" type="text" />
                </p>

                <p>
                     <label for="pass" class="label">Password</label>
                    <input class="w3-input w3-border w3-round-large w3-light-grey" name="password" type="password" />
                </p>

                <p>
                   <label for="pass" class="label"> Repeat Password</label>
                    <input class="w3-input w3-border w3-round-large w3-light-grey" name="confirm" type="password" />
                </p>

                <p>
                    <label for="birth" class="label"> Bithdate</label>
                    <input class="w3-input w3-border w3-round-large w3-light-grey" name="birth" type="date" />
                </p>
                
                <p>
                    <label for="description" class="label">Description</label>
                    <textarea class="w3-input w3-border w3-round-large w3-light-grey" name="description"></textarea>
                </p>
                <p>
                    <label>Plataformas :</label>
                    <div class="form-group">
                <label class="container-checkbox">
                  Nintendo Switch
                  <input type="checkbox"  name="platforms" value="Nintendo Switch">
                  <span class="checkmark-box"></span>
                </label>
              </div>
              <div class="form-group">
                <label class="container-checkbox">
                  Mobile
                  <input type="checkbox"  name="platforms" value="Mobile">
                  <span class="checkmark-box"></span>
                </label>
              </div>
              <div class="form-group">
                <label class="container-checkbox">
                  PS3
                  <input type="checkbox"  name="platforms" value="PS3">
                  <span class="checkmark-box"></span>
                </label>
              </div>
              <div class="form-group">
                <label class="container-checkbox">
                  PS4
                  <input type="checkbox"  name="platforms" value="PS4">
                  <span class="checkmark-box"></span>
                </label>
              </div>
              <div class="form-group">
                <label class="container-checkbox">
                  PC
                  <input type="checkbox"  name="platforms" value="PC">
                  <span class="checkmark-box"></span>
                </label>
              </div>
              <div class="form-group">
                <label class="container-checkbox">
                  Stadia
                  <input type="checkbox"  name="platforms" value="Stadia">
                  <span class="checkmark-box"></span>
                </label>
              </div>
              <div class="form-group">
                <label class="container-checkbox">
                  Xbox One
                  <input type="checkbox"  name="platforms" value="Xbox One">
                  <span class="checkmark-box"></span>
                </label>
              </div>
                    <div class="form-group">
                <label class="container-checkbox">
                  Wii U
                  <input type="checkbox"  name="platforms" value="Wii U">
                  <span class="checkmark-box"></span>
                </label>
              </div>
                </p>
                
                <p><button class="w3-button w3-big">Registrar</button></p>

            </form>
                </div>
    </div>
    </div>
    <%- include partials/footer.ejs %>
</body>
</html>