<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro de nuevo juego</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/juegonuevo.css">
</head>

<body class="w3-light-grey">
    <%var data = conectado; %>
        <%var ad = admin; %>
            <%- include partials/header.ejs %>
                <br />
                <div class="login-wrap">
                    <div class="login-html">
                        <label for="only-tab" class="tab">Nuevo Juego</label>
                        <div class="w3-card-4">

                            <form class="w3-container" action="/game/register" method="POST">
                                <p>
                                    <label>Nombre</label>
                                    <input class="w3-input" name="name" type="text" /> </p>

                                <p>
                                    <label>Numero</label>
                                    <input class="w3-input" name="number" type="number" />
                                </p>

                                <p>
                                    <label>Fecha de lanzamiento</label>
                                    <input class="w3-input" name="releaseDate" type="date" />
                                </p>

                                <p>
                                    <label>Metacritic:</label>
                                    <input class="w3-input" name="metacritic" type="number" />
                                </p>

                                <p>
                                    <label>Distribuidor:</label>
                                    <input class="w3-input" name="publisher" type="text" />
                                </p>

                                <p>
                                    <label>Descripción:</label>
                                    <textarea class="w3-input" name="description"></textarea>
                                </p>
                                <p>
                                    <label>Sprite: </label>
                                    <input class="w3-input" type="text" name="sprite">
                                </p>
                                <p>
                                    <label>Géneros</label>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Action
                                <input type="checkbox" name="genres" value="Action">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Action-Adventure
                                <input type="checkbox" name="genres" value="Action-Adventure">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Adventure
                                <input type="checkbox" name="genres" value="Adventure">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Beat 'Em up
                                <input type="checkbox" name="genres" value="Beat 'Em Up">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Casual
                                <input type="checkbox" name="genres" value="Casual">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Christian
                                <input type="checkbox" name="genres" value="Christian">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                FPS
                                <input type="checkbox" name="genres" value="FPS">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Hack 'N Slash
                                <input type="checkbox" name="genres" value="Hack 'N Slash">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Metroidvania
                                <input type="checkbox" name="genres" value="Metroidvania">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                MMO
                                <input type="checkbox" name="genres" value="MMO">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Multi-Player
                                <input type="checkbox" name="genres" value="Multi-Player">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                MOBA
                                <input type="checkbox" name="genres" value="MOBA">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Open World
                                <input type="checkbox" name="genres" value="Open World">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Platform
                                <input type="checkbox" name="genres" value="Platform">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Racing
                                <input type="checkbox" name="genres" value="Racing">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Role-Playing
                                <input type="checkbox" name="genres" value="Role-Playing">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                RTS
                                <input type="checkbox" name="genres" value="RTS">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Simulation
                                <input type="checkbox" name="genres" value="Simulation">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Single-Player
                                <input type="checkbox" name="genres" value="Single-Player">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Stealth
                                <input type="checkbox" name="genres" value="Stealth">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Strategy
                                <input type="checkbox" name="genres" value="Strategy">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Sports
                                <input type="checkbox" name="genres" value="Sports">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Survival Horror
                                <input type="checkbox" name="genres" value="Survival Horror">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                TBS
                                <input type="checkbox" name="genres" value="TBS">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Tower Defense
                                <input type="checkbox" name="genres" value="Tower Dfense">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Visual Novel
                                <input type="checkbox" name="genres" value="Visual Novel">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>

                                </p>
                                <p>
                                    <label>Plataformas :</label>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Nintendo Switch
                                <input type="checkbox" name="platforms" value="Nintendo Switch">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Mobile
                                <input type="checkbox" name="platforms" value="Mobile">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                PS3
                                <input type="checkbox" name="platforms" value="PS3">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                PS4
                                <input type="checkbox" name="platforms" value="PS4">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                PC
                                <input type="checkbox" name="platforms" value="PC">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Stadia
                                <input type="checkbox" name="platforms" value="Stadia">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Xbox One
                                <input type="checkbox" name="platforms" value="Xbox One">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="container-checkbox">
                                Wii U
                                <input type="checkbox" name="platforms" value="Wii U">
                                <span class="checkmark-box"></span>
                            </label>
                                    </div>
                                </p>

                                <p><button class="w3-button w3-big">Registrar</button></p>

                            </form>
                        </div>
                    </div>
                </div>

                <%- include partials/footer.ejs %>
</body>

</html>