<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= user.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<body class="w3-light-grey">
    <%var data = conectado; %>
    <%var ad = admin; %>
    <%- include partials/header.ejs %>
    <br/>
    <ul class="w3-ul w3-center">
        <li class="w3-blue"><h1 class="w3-xxlarge"><%= ` ${ user.name }` %></h1></li>
        <li><b>Fecha de Nacimiento: </b> <%= user.birth %></li>
        <li><b>email: </b><%= user.email %></li>
        <li><b>Descripción: </b><%= user.description %></li>
        <li><b>Platformas: </b> <%= user.platforms %></li>
        <li><b><a href="/user/<%= user.name %>/susJuegos">Sus juegos </a></b></li>
        <%if(siguiendo && conectado && !self){%>
            <form action="/user/noSeguir/<%=user.name%>" method="POST">
                <input type="submit" value="Dejar de seguir">
            </form>
        <%}else if (conectado && !self){%>
            <form action="/user/seguir/<%=user.name%>" method="POST">
                <input type="submit" value="Seguir">
            </form>
        <%}%>
        <li><button onclick="goBack()" class="w3-button w3-blue">Regresar</button></li>
    </ul>

</body>
</html>