<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= nombrePublisher %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/imagesStyle.css">
</head>
<body class="w3-container w3-light-grey">
    <%var data = conectado; %>
    <%var ad = admin; %>
    <%- include partials/header.ejs %>
    <h1 class="w3-blue w3-jumbo w3-padding-small"><%= nombrePublisher %></h1>
    <div style="margin-top: 10px; " class="wrapper">
                    <div class="page-header page-header-small">
                        <div class="content-center" style="background-image: url('/images/videowall.jpg');">
                            <div class="container">
                                <h1 class="title" style="color:#FFFFFF;"><%=nombrePublisher%></h1>
                            </div>
                        </div>
                    </div>
                </div>

    <div>
        <form action="/game/publishers" method="GET">
        <label>Distribuidoras :</label> <br>
        <input type="Radio" name="publisher" value="Activision Blizzard" checked> Activision Blizzard &nbsp
        <input type="Radio" name="publisher" value="Atari" > Atari &nbsp &nbsp &nbsp &nbsp
        <input type="Radio" name="publisher" value="Bethesda" > Bethesda <br>
        <input type="Radio" name="publisher" value="Capcom" > Capcom  &nbsp &nbsp &nbsp &nbsp &nbsp
        <input type="Radio" name="publisher" value="CD Projekt Red" > CD Projekt Red &nbsp
        <input type="Radio" name="publisher" value="EA" > EA <br>
        <input type="Radio" name="publisher" value="Independiente" > Independiente  &nbsp &nbsp
        <input type="Radio" name="publisher" value="Konami" > Konami &nbsp &nbsp
        <input type="Radio" name="publisher" value="Microsoft" > Microsoft <br>
        <input type="Radio" name="publisher" value="Bandai Namco Games" > Bandai Namco Games  &nbsp
        <input type="Radio" name="publisher" value="Nintendo" > Nintendo &nbsp
        <input type="Radio" name="publisher" value="Sega" > Sega <br> 
        <input type="Radio" name="publisher" value="Sony" > Sony &nbsp &nbsp &nbsp &nbsp
        <input type="Radio" name="publisher" value="Square Enix" > Square Enix &nbsp 
        <input type="Radio" name="publisher" value="Take-Two Interactive" > Take-Two Interactive <br>
        <input type="Radio" name="publisher" value="THQ Nordic" > THQ Nordic  &nbsp &nbsp &nbsp &nbsp
        <input type="Radio" name="publisher" value="Ubisoft" > Ubisoft &nbsp &nbsp &nbsp
        <input type="Radio" name="publisher" value="Valve" > Valve <br> <br>
        <input type="submit" value="Buscar">
        <br>
        <br>
        <br>
    </div>

    <div class="w3-container w3-responsive">
        <table class="w3-table w3-border w3-bordered w3-centered">
            <% for (let i of game){ %>
            <tr>
                <% for (let j of i){ %>
                <td>
                    <a href="/game/<%= j.number %>">
                        <div class="w3-card-4 w3-hover-opacity w3-hover-blue">
                            <div class="holder">
                                <img src="<%= j.sprite %>" />
                            </div>
                            <div class="w3-container">
                                <h4><b><%= j.name %></b></h4>
                            </div>
                        </div>
                    </a>
                </td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>
    <div class="w3-bar w3-border w3-round">
        <%if(atras){%>
            <a href="/game/publishers?publisher=<%= nombrePublisher %>&pageNumber=<%= pageNumber-1 %>&pageSize=<%= pageSize %>&columns=<%= columns %>" class="w3-button">&#10094; Anterior</a>
        <%}%>
        <a href="/game/publishers?publisher=<%= nombrePublisher %>&pageNumber=<%= pageNumber+1 %>&pageSize=<%= pageSize %>&columns=<%= columns %>" class="w3-button w3-right">Siguiente &#10095;</a>
    </div>
</body>
</html>