<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Juegos de <%=usuario%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/imagesStyle.css">
</head>

<body class="w3-container w3-light-grey">
	<%var data = conectado; %>
	<%var ad = admin; %>
    <%- include partials/header.ejs %>
    <div style="margin-top: 10px; " class="wrapper">
                    <div class="page-header page-header-small">
                        <div class="content-center" style="background-image: url('/images/videowall.jpg');">
                            <div class="container">
                                <h1 class="title" style="color:#FFFFFF;">Juegos de <%=usuario%></h1>
                            </div>
                        </div>
                    </div>
                </div>
	<div class="w3-container w3-responsive">
		<table class="w3-table w3-border w3-bordered w3-centered">
			<% for (let i of reviews){ %>
				<tr>
					<td>
						<a href="/game/<%= i.gameNumber %>/"><%= i.gameName %> </a>
					</td>
					<td>					
						<p><b>Status: </b> <%=i.status%></p>
                        
					</td>
					<td>
						<p><b>Calificación: </b> <%=i.grade%></p>
					</td>
				</tr>
			<% } %>
		</table>
	</div>
</body>
</html>