<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= user.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<body class="w3-light-grey">
    <%var data = conectado; %>
    <%var ad = admin; %>
    <%- include partials/header.ejs %>
    <br/>
    <div style="margin-top: 10px; " class="wrapper">
                    <div class="page-header page-header-small">
                        <div class="content-center" style="background-image: url('/images/videowall.jpg');">
                            <div class="container">
                                <h1 class="title" style="color:#FFFFFF;"><%= ` ${ user.name }` %></h1>
                            </div>
                        </div>
                    </div>
                </div>
    <ul class="w3-ul w3-center">
        <li><b>Fecha de Nacimiento: </b> <%= user.birth %></li>
        <li><b>eMail: </b><%= user.email %></li>
        <li><b>Descripción: </b><%= user.description %></li>
        <li><b>Platformas: </b> <%= user.platforms %></li>
        <li><b><a href="/user/misJuegos">Mis juegos </a></b></li>
        <li><b><a href="/user/misAmigos">Mis amigos </a></b></li>
        <li><button onclick="goBack()" class="w3-button w3-blue">Regresar</button></li>
    </ul>

</body>
</html>