.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center bottom;
	opacity: 0.8;

}
.login-wrap{
	width: 100%;
	margin:auto;
	max-width:800px;
	min-height: 600px;
	max-height:601px;
	position:relative;
	bottom: -100px;
	background-size: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	color:white;
}
.h1{
	color:white;
}
.h4{
	color:white;
}