* {box-sizing: border-box;}

#header {
    padding: 30px 0;
    height: 100px;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color:  #141616;
}
#header #logo h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
}
#nav-menu-container {
    float: right;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 997;
}
.nav-menu > li {
    margin-left: 20px;
}
.nav-menu > li {
    float: left;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;

}
.header-scrolled .nav-menu a {
    color: gainsboro ;
}
.nav-menu a{
    padding: 0 20px 30px 8px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .nav-menu a{
    float: none;
    display: block;
  }
  .nav-menu-container a {
    float: none;
  }
  .nav-menu > li {
    float: none;
    }
}