#picture { height: 300px; width: 500px; overflow: hidden; }


.holder {   
  width: auto;
  display: inline-block;    
}

.holder img {
  width: 400px; /* Will shrink image to 30% of its original width */
  height: 250px;    
}​