.profile-teaser-left {
    float: left;
    width: 20%;
    margin-right: 1%;
}

.profile-teaser-main {
    float: left;
    width: 79%;
}

.info {
    display: inline-block;
    margin-right: 10px;
    color: #777;
}

.info span {
    font-weight: bold;
}

body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.title {
    font-weight: 700;
    padding-top: 30px;
    color: white;
}